.footer {
  width: min(60rem, 90%);
  margin: 5rem auto 0;
}

.footer_socialLinks {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.footer__list {
  display: grid;
  margin: 1rem 0 4rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  li {
    list-style: none;
    a {
      text-decoration: none;
      color: grey;
      font-size: 0.9rem;
    }
  }
}
