.list {
  width: 100%;
  padding-left: 4%;
  background: linear-gradient(
    to top,
    #141414,
    rgba(43, 42, 42, 1),
    rgba(43, 42, 42, 0.7),
    rgba(43, 42, 42, 0.2),
    rgba(48, 46, 46, 0)
  );
  &__heading {
    margin: 2rem 0;
    font-weight: 600;
  }
}

.listWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.listItem {
  div[type="img_container"] {
    position: relative;
    aspect-ratio: 9/5;
    height: 25rem;

    img {
      width: 25rem !important;
    }
  }
}

.nlogo_wrapper {
  position: absolute;
  left: 0.5rem;
  height: 2rem !important;
  display: block;
}

.nlogo {
  width: 0.7rem !important;
  z-index: 40;
}
