.list {
  width: 100%;

  &__heading {
    font-weight: 600;
    padding-left: calc(4% + 0.5rem);
    margin: 1rem 0;
  }
  margin-top: 3rem;
}

.container {
  width: 100%;
  display: flex;
  // gap: 0.3rem;
}

.slider__handle {
  z-index: 2;
  flex-grow: 0;
  width: 4%;
  border: none;
  background-color: transparent;
  background: hsla(0, 0%, 8%, 0.5);

  &[type="handle__left"] {
    margin-right: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  &[type="handle__right"] {
    margin-left: 0.3rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  &:hover {
    background: hsla(0, 0%, 8%, 0.7);
  }

  .handleWrapper {
    font-size: 2rem;
    color: #fff;
    transition: all 100ms;
  }

  &:hover .handleWrapper {
    font-size: 2.4rem;
  }
}

.slider:hover .handleWrapper {
  font-size: 2.3rem;
}

.slider {
  display: flex;
  flex-grow: 1;
  transition: all 1s;
  // align-items: center;
  // gap: 0.4rem;
}

.slider .listItem {
  flex: 0 0 20%;
  max-width: 20%;
}

.listItem {
  padding: 0 0.3rem;
  cursor: pointer;

  div[type="img_container"] {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 0.3rem;
    overflow: hidden;
  }
}

.nlogo_wrapper {
  position: absolute;
  left: 0.5rem;
  height: 2rem !important;
  display: block;
}

.nlogo {
  width: 0.7rem !important;
  z-index: 10;
}

// PORTALS
.cardPortal {
  z-index: 20000;
  position: absolute;
  transition: all ease-in-out 250ms;
  animation: inAnimation 150ms ease-out;
  transform: translateY(-20%) scale(1.3);
}

@keyframes inAnimation {
  0% {
    transform: translateY(0);

    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.listItemPortal {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background-color: #1f1e1e;
  box-shadow: 1px 1px 3px 1px #030303;
  cursor: pointer;
}

.listItemPortal__imgWrapper {
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  overflow: hidden;
}

.cardInfo {
  padding: 1rem;

  position: relative;
  top: -2px;
  color: #fff;
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 600;
}

.features {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;

  ion-icon {
    --ionicon-stroke-width: 10px;
  }
}

.age,
.quality {
  border: 1px solid #fff;
  padding: 0.07rem 0.3rem;
  background-color: #181717;
}

.quality {
  font-weight: 700;
}

.inlineData {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tags {
  margin: 0.5rem 0;

  ul {
    list-style: none;
    display: flex;
    font-size: 0.7rem;
    gap: 0.3rem;

    li::after {
      content: " •";
    }

    li:last-child::after {
      content: "";
    }
  }
}

.moreInfo {
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(64, 64, 64);
  text-align: center;
  color: white;

  div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    p {
      font-size: 0.9rem;
      font-weight: 600;
      line-height: 1;
    }
  }

  ion-icon {
    font-size: 1.4rem;
  }
}
