.list {
  width: 100%;

  &__heading {
    font-weight: 600;
    padding-left: calc(4% + 0.5rem);
    margin: 1rem 0;
  }
  margin-top: 3rem;
}

.container {
  width: 100%;
  display: flex;
  // gap: 0.3rem;
}

.slider__handle {
  z-index: 2;
  flex-grow: 0;
  width: 4%;
  border: none;
  background-color: transparent;
  background: hsla(0, 0%, 8%, 0.5);

  &[type="handle__left"] {
    margin-right: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  &[type="handle__right"] {
    margin-left: 0.3rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  &:hover {
    background: hsla(0, 0%, 8%, 0.7);
  }

  .handleWrapper {
    font-size: 2rem;
    color: #fff;
    transition: all 100ms;
  }

  &:hover .handleWrapper {
    font-size: 2.4rem;
  }
}

.slider:hover .handleWrapper {
  font-size: 2.3rem;
}

.slider {
  display: flex;
  flex-grow: 1;
  transition: all 1s;
  // align-items: center;
  // gap: 0.4rem;
}

.listItem {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 0.3rem;

  div[type="img_container"] {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 0.3rem;
    overflow: hidden;
  }
}

.nlogo_wrapper {
  position: absolute;
  left: 0.5rem;
  height: 2rem !important;
  display: block;
}

.nlogo {
  width: 0.7rem !important;
  z-index: 10;
}
