.nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  position: fixed;
  width: 100%;
  transition: all ease-in-out 250ms;
  z-index: 20;
}

.nav.active {
  background-color: #141414;
}

.nav__main {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 0.9rem;
}

.main__image {
  position: relative;
  aspect-ratio: 3/2;
  height: 4rem;
}

.main__list {
  display: flex;
  gap: 1rem;

  li {
    text-decoration: none;
    list-style: none;
  }
}

.nav__features {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 900;
  font-size: 1.5rem;
  ion-icon {
    --ionicon-stroke-width: 50px;
  }
}

.links {
  text-decoration: none;
  color: #fff;
}
