.nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  position: fixed;
  width: 100%;
  transition: all ease-in-out 250ms;
  z-index: 20;
}

.nav.active {
  background-color: #141414;
}

.nav__main {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 0.9rem;
}

.main__image {
  position: relative;
  aspect-ratio: 3/2;
  height: 4rem;
}

.main__list {
  display: flex;
  gap: 1rem;

  li {
    text-decoration: none;
    list-style: none;
  }
}

.nav__features {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 900;
  font-size: 1.5rem;

  ion-icon {
    --ionicon-stroke-width: 4rem;
    min-width: 2rem;
  }
}

.links {
  text-decoration: none;
  color: #fff;
}

//Search Animation
.features__searchWrapper {
  // display: flex;
  // border: 1px solid #fff;
  // background-color: rgba(0, 0, 0, 0.85);
  align-items: center;
  // padding: 0.1rem 0.5rem;
  width: 2rem;

  input {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    transition: all 1s;
    // padding: 0.5rem 1.2rem;
    font-family: inherit;
    color: #fff;

    &:focus {
      border: none;
      outline: none;
    }
  }
}

.features__searchWrapper_active {
  width: 100%;
  padding: 0.1rem 0.5rem;
  display: flex;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.85);
  animation: inAnimation 300ms ease-in-out;
  overflow: hidden;
  width: 20rem;

  input {
    display: block;

    padding: 0.5rem;
  }
}

@keyframes inAnimation {
  0% {
    width: 2rem;
    opacity: 0;
    visibility: hidden;
  }

  100% {
    width: 20rem;
    opacity: 1;
    visibility: visible;
  }
}
